@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 800px;
  margin: 0 auto;
  flex-direction: column;
}

/* Search Bar */

#search-bar {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  color: #222222;
  width: 100%;
  border-radius: 50px;
  padding: 25px;
  font-size: 30px;
  outline: 0;
  border: 0;
  user-select: none;
}

#search-area {
  position: absolute;
  width: 100%;
  border-radius: 50px;
  margin-top: 20px;
  box-shadow: 0 0 20px #CCCCCC;
  background-color: white;
  z-index: 100;
}

#search-area-container {
  position: relative;
  height: 150px;
}

.search-suggestion {
  padding: 25px;
  font-size: 30px;
}

.search-suggestion:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.search-suggestion:last-child {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Weather Overview */

#overview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

#temperature-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#temperature {
  font-size: 150px;
}

#weather-description {
  font-size: 50px;
  color: #333333;
}

/* Weather Details */

#weather-details {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

#weather-card {
  font-size: 30px;
}

#weather-card h3 {
  font-size: 30px;
}

/* Loading Icon */

#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading-icon {
  animation: spin 2s linear infinite;
}
